.container {
  overflow: hidden;
  border: 4px solid black;
 
}

.bolimg {
  width: 100%;
  height: 100%;
  -webkit-transition: 2s ease-out;
  -moz-transition: 2s ease-out;
  -o-transition: 2s ease-out;
  -ms-transition: 2s ease-out;
  transition: 2s ease-out;
}

.bolimg:hover { 
  height: 125%;
  width: 125%;
}